* {
    margin: 0px;
    font-family: 'inter';
}

#menusuperior {
    background-color: #303030;
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;
    width: 1440px;
    height: 320px;
    max-width: 100%;
}

#titulomenusuperior {
    margin-top: 90px;
    margin-left: 62px;
    font-size: 60px;
    color: white;
}

#textomenusuperior {
    margin-top: 20px;
    margin-left: 70px;
    font-size: 25px;
    color: white;
}

.icones {
    margin: 30px 0px 25px 100px;
    width: 200px;
    height: 65px;
    margin-left: 125px;
}

#menuinformativo {
    background: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;

}

.menuinformativo {
    display: flex;
    text-align: center;
}

#titulosubmenu {
    margin-top: 250px;
    margin-left: 90px;
    font-size: 35px;
}

#textosubmenu {
    margin-top: 40px;
    margin-left: 90px;
    font-size: 21px;
}

#imagemescada {
    margin-top: -370px;
    margin-left: 830px;
}

#menuinferior {
    background-color: #303030;
    text-align: center;
    width: 1299px;
    height: 320px;
    padding: 25px;
}

#titulomenuinferior {
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}

input {
    width: 300px;
    height: 38px;
    margin-top: 25px;
    border: 0px;
    border-radius: 5px;
    padding-left: 15px;
}

button {
    color: white;
    background: #C07212;
    width: 150px;
    height: 38px;
    border: 0px;
    border-radius: 5px;
    margin: 50px;
    font-weight: bolder;
    cursor: pointer;
}